<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<main th:fragment="content">
    <h1>결제완료</h1>
    <table th:object="${orderInfo}">
        <tr>
            <th colspan="2" th:text="#{주문_정보}"></th>
        </tr>
        <tr>
            <th th:text="#{주문번호}"></th>
            <td th:text="*{seq}"></td>
        </tr>
        <tr>
            <th th:text="#{주문자_이름}"></th>
            <td th:text="*{orderName}"></td>
        </tr>
        <tr>
            <th th:text="#{상품}"></th>
            <td>
                <div th:each="orderItem : *{orderItems}">
                    <th:block th:text="${orderItem.product.name}"></th:block>
                    <th:block th:text="${orderItem.ea + '개'}"></th:block>
<!--                    <th:block th:text="${orderItem.period + '개월'}"></th:block>-->
                    <th:block th:text="${orderItem.salePrice + '원'}"></th:block>
                </div>
            </td>
        </tr>
        <tr>
            <th th:text="#{결제금액}"></th>
            <td th:text="*{totalPrice + '(상품합계) + ' +  totalDeliveryPrice + '(배송비) - ' + totalDiscount + '(총 할인금액) = ' + payPrice}"></td>
        </tr>
        <tr>
            <th colspan="2" th:text="#{배송지_정보}"></th>
        </tr>
        <tr>
            <th th:text="#{받는분_이름}"></th>
            <td th:text="*{receiverName}"></td>
        </tr>
        <tr>
            <th th:text="#{휴대전화번호}"></th>
            <td th:text="*{receiverCellPhone}"></td>
        </tr>
        <tr>
            <th th:text="#{배송_주소}"></th>
            <td th:text="*{address + addressSub}"></td>
        </tr>
        <tr>
            <th th:text="#{주소_상세}"></th>
            <td th:text="*{addressSub}"></td>
        </tr>
    </table>
</main>
</html>