<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<head>

</head>
<main layout:fragment="content">

    <h1>이용 안내</h1>

    <table border="1">
        <thead>
        <tr>
            <th>결제 방법</th>
            <th>이용 방법</th>
            <th>제품 사용 방법 (파손 분실)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>결제는 카드, 현금 영수증, 계좌이체...?</td>
            <td>이용 방법..</td>
            <td>제품 사용 방법 (파손 분실)....</td>
        </tr>
        </tbody>
    </table>

</main>