<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<section th:fragment="menus">

    <a class='update_profile_btn' th:href="@{/mypage/profile}" th:text="#{회원정보_수정}"></a>

    <div class="user_email" th:text="${session.member.email}"></div>
    <div class="user_nm" th:text="${session.member.name}"></div>

  </div>
  <ul class="menus">
    <li>
      <a th:href="@{/mypage/profile}" th:text="#{회원정보_수정}"></a>
    </li>
  </ul>
</section>
</html>