<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns=""
      layout:decorate="~{front/layouts/main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/static/mypage/css/memberInfo.css}">
</head>
<form name="frmUpMemberInfo" method="post" action="@{/mypage/updateMemberInfo}" th:object="${requestUpdateMemberInfo}" >
    <body>
    <div id="content" layout:fragment="content">
        <div>
            <h2>회원 정보 관리</h2>
            <p>회원 정보를 수정하세요.</p>
        </div>
        <div>
            <!-- 회원 정보 폼 -->
            <form id="memberInfoForm" action="/mypage/memberInfo" th:object="${member}">
                <div>
                    <label for="name" th:text="#{이름}"></label>
                    <!-- 이름은 변경 못하도록 설정 -->
                    <input id="name"  th:value="*{name}" disabled>
                </div>
                <div>
                    <label for="userName" th:text="#{닉네임}"></label>
                    <!-- 이름은 변경 못하도록 설정 -->
                    <input id="userName"  th:value="*{userName}">
                </div>
                <div>
                    <label for="email" th:text="#{이메일}"></label>
                    <!-- 이메일은 변경 못하도록 설정 -->
                    <input id="email" th:value="*{email}" disabled>
                </div>
                <div>
                    <label for="phone">휴대전화</label>
                    <input id="phone" placeholder="휴대전화 입력" th:value="${tel}">
                </div>
                <div>
                    <label for="address">주소</label>
                    <input id="address" placeholder="주소 입력" th:value="${address}">
                </div>
                <button id="saveButton" type="submit">저장</button>
                <!--            <input  value="전송">-->
                <button id="cancel">취소</button>
            </form>
        </div>
        <div>
            <!-- 배송지 관리 팝업창 버튼 -->
            <button id="deliveryPopupButton">배송지 관리</button>
            <!-- 배송지 관리 팝업창 -->
            <div id="deliveryPopup" class="popup" style="display: none;">
                <!-- 내용 추가 -->
            </div>

            <!-- 비밀번호 변경 팝업창 버튼 -->
            <button id="passwordPopupButton">비밀번호 변경</button>
            <!-- 비밀번호 변경 팝업창 -->
            <div id="passwordPopup" class="popup" style="display: none;">
                <!-- 내용 추가 -->
            </div>

            <div >
                <th:block th:text="*{seq}">aaa</th:block>
            </div>
        </div>
    </div>


    </body>
</form>
<style>

</style>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/mypage/js/memberInfo.js"></script>

</html>
