<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>1:1 문의관리</h1>
    <table class="inquiry_table table table-hover">
        <tr class="table-secondary">
            <th>NO</th>
            <th>문의유형</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        <tr th:each="item : ${inquiryList}" th:object="${inquiryList}">
            <td th:text="${item.seq}"></td>
            <td th:text="${item.categoryType}"></td>
            <td>
                <a th:text="${item.title}" th:href="@{cs/adminInquiryDetail/{seq}(seq = ${item.seq})}"></a>
            </td>
            <td th:text="${item.author}"></td>
            <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>