<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>상품문의</h1>
    <table class="inquiry_table table table-hover">
        <tr class="table-secondary">
            <th>NO</th>
            <th>상품</th>
            <th>상품 문의 내용</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        <tr th:each="item : ${qnaList}" th:object="${qnaList}">
            <td th:text="${item.seq}"></td>
            <td>
                <span th:text="${item.productName}"></span>
            </td>
<!--            <td th:each="product : ${productList}" th:if="${product.name}" th:text="${product.name}" th:href="@{/admin/cs/productDetail/{seq}(seq = ${item.seq})}"></td>-->
            <td>
                <a th:text="${item.content}" th:href="@{/admin/cs/productDetail/{seq}(seq = ${item.seq})}"></a>
            </td>
            <td th:text="${item.member.userName}"></td>
            <td th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}"></td>
        </tr>
    </table>

    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</section>
</html>