.visual_box {
    width: 100%;
    height: 500px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url("https://i.postimg.cc/JznmH8Xc/headphones-1816349-1280.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 20%;
}

.visual_box > div {
    padding-left: 30px;
}

.visual_box > div p {
    font-size: 18px;
    text-align: left;
}

.service_btn_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.service_btn_box a {
    text-decoration: none;
    width: 300px;
    padding: 20px;
    margin: 10px;
    background: #A7CFF1;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_btn_box a:active,
 .service_btn_box a:hover {
    background: #75b4e9;
}

.service_btn_box a i {
    font-size: 24px;
    color: #000;
    margin-top: 2px;
}

.service_btn_box a span {
    font-size: 22px;
    color: #000;
    padding-left: 5px;
}

.often_question {
    width: 70%;
    margin: 50px auto;
}

.often_question_inner {
    margin: 50px 0;
}

.often_question_inner button {
    font-size: 14px;
}

.feedbackPostAdd {
       width: 100%;
       height: 300px;
       text-align: center;
}

.feedbackPost_btn {
    display: block;
    width: 200px;
    height: 50px;
    padding: 11px 0 9px;
    background: #A7CFF1;
    border-radius: 10px;
    color:#000;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.feedbackPost_btn:active,
.feedbackPost_btn:hover {
    background: #75b4e9;
    color: #000;
}

.inquiry_main {
    text-align: center;
}

.inquiry_main h3 {
    font-size: 24px;
}

.inquiry_main p {
    font-size: 16px;
    margin: 5px 0;
}

.inquiry_main form {
    max-width: 600px;
    margin: 50px auto 0 auto;
}

.inquiry_btn {
    display: inline-flex;
    width: 200px;
    height: 50px;
    padding: 11px 0 9px;
    background: #A7CFF1;
    border-radius: 10px;
    color:#000;
    font-size: 18px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.inquiry_btn:active,
 .inquiry_btn:hover {
    background: #75b4e9;
    color: #000;
}

.inquiry_box {
    display: flex;
}

.inquiry_box select {
    width: 20%;
}

.inquiry_box + textarea {
     width: 100%;
     min-height: 500px;
     padding: 10px;
     border: 1px solid #d5d5d5;
     border-radius: 3px;
}

.submit_btns {
    margin-top: 50px;
}

.submit_btns .btn {
    padding: 10px 15px;
    font-size: 16px;
}

.submit_btns .btn-success {
    background: #A7CFF1;
    border: 1px solid #A7CFF1;
    color: #000;
}

.submit_btns .btn-success:active,
.submit_btns .btn-success:hover {
    background: #3e90d5;
}

.inquiry_table {
    padding: 10px;
    text-align: center;
}

.inquiry_detail div {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inquiry_detail div > p {
    width: auto;
    margin: 0;
}

.inquiry_detail p {
    width: 100%;
    padding: 10px;
}

.accordion-body {
    text-align: left;
    line-height: 1.5;
    white-space: pre-wrap;
}

.inquiry_answer {
    display: block !important;
    background: #efefef;
}

.inquiryAdd_done h1 {
    text-align: center;
}

.inquiryAdd_done a {
    display: block;
    width: 200px;
    height: 50px;
    padding: 11px 0 9px;
    background: #A7CFF1;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin: 50px auto;
    border: none;
}

.inquiryAdd_done a:active,
.inquiryAdd_done a:hover {
    background: #75b4e9;
}

