<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="product_detail layout_width" th:object="${product}">
    <style>
        .product_main {
            width: 100%; height: 600px;
        }
        #bottomBar {
            width: 100%;
            height: 100px;
            background: #CFD8DC;
            color: #fff;
            visibility: hidden;
            position: fixed;
            bottom: 0;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 1px;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>

    <section class="product_main" id="product_main">
        <div class="product_images">
            <div class="main_image">
                <img th:if="*{mainImages != null && !mainImages.isEmpty()}" th:src="*{mainImages[0].fileUrl}">
            </div>
            <div class="thumbs" th:if="*{mainImages != null && !mainImages.isEmpty()}" >
                <div th:each="thumb : *{mainImages}" th:style="${@utils.backgroundStyle(thumb)}" class='thumb' th:data-url="${thumb.fileUrl}"></div>
            </div>
            <!--// main_image -->
        </div>
        <div class="product_info">
            <form name="frmSave" method="post" th:action="@{/cart/save}" autocomplete="off" target="ifrmProcess">
                <input type="hidden" name="mode" value="CART">
                <input type="hidden" name="seq" th:value="*{seq}">
                <input type="hidden" name="salePrice" th:value="*{salePrice}">
                <div th:text="*{name}"></div>
                <dl th:if="*{consumerPrice > 0}">
                    <dt th:text="#{소비자가}"></dt>
                    <dd>
                        <del>
                            <th:block th:text="*{consumerPrice >= 1000 ? #numbers.formatInteger(consumerPrice, 3, 'COMMA') : consumerPrice}"></th:block>
                            <th:block th:text="#{원}"></th:block>
                        </del>
                    </dd>
                </dl>
                <dl>
                    <dt th:text="#{판매가}"></dt>
                    <dd>
                        <th:block th:text="*{salePrice >= 1000 ? #numbers.formatInteger(salePrice, 3, 'COMMA') : salePrice}"></th:block>
                        <th:block th:text="#{원}"></th:block>
                    </dd>
                </dl>
                <dl>
                    <dt th:text="#{할인가}"></dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt th:text="#{배송}"></dt>
                    <dd th:if="*{packageDelivery}" th:text="#{묶음배송}"></dd>
                    <dd th:unless="*{packageDelivery}" th:text="#{개별배송}"></dd>
                </dl>
                <dl>
                    <dt th:text="#{배송비}"></dt>
                    <dd th:if="*{deliveryPrice > 0}">
                        <th:block th:text="*{deliveryPrice >= 1000 ? #numbers.formatInteger(deliveryPrice, 3, 'COMMA') : deliveryPrice}"></th:block>
                        <th:block th:text="#{원}"></th:block>
                    </dd>
                    <dd th:unless="*{deliveryPrice > 0}" th:text="#{무료배송}"></dd>
                </dl>
                <dl class="summary">
                    <dt class="tit" th:text="#{총_상품금액}"></dt>
                    <dd class="info">
                        <input type="hidden" name="totalPrice" th:value="*{salePrice}">
                        <span name="showTotalPrice" class="totalPrice" th:text="*{salePrice >= 1000 ? #numbers.formatInteger(salePrice, 3, 'COMMA') : salePrice}">
                        </span>
                        <th:block th:text="#{원}"></th:block>
                    </dd>
                </dl>


                <div class="selected_products">
                    <input type="hidden" name="selectedNums" value="0">
                    <div class="product_name" th:text="*{name}"></div>

                    <div class="option_ea">
                        <div class="ea_box">
                            <input type="number" name="ea_0" value="1" min="1">
                            <button type="button" class="change_ea down">
                                <i class="xi-minus"></i>
                            </button>
                            <button type="button" class="change_ea up">
                                <i class="xi-plus"></i>
                            </button>
                        </div>
                        <!--// ea_box -->
                    </div>
                    <!--// option_ea -->
                </div>
                <!--// selected_products -->
                <div>
                    <dt id="showPeriod" th:text="#{대여기간}"></dt>
                    <input type="hidden" id="period" name="period" value="0">
                    <dd width="300">
                        <input type="date" name="sdate" onchange="calculateDate();"> ~
                        <input type="date" name="edate" onchange="calculateDate();">
                    </dd>
                </div>
                <!--// summary -->
                <div class="btns">
                    <button type="button" th:text="#{찜하기}" class="product_action" data-mode="WISH"></button>
                    <button type="button" th:text="#{장바구니}" class="product_action" data-mode="CART"></button>
                    <button type="button" th:text="#{구매하기}" class="product_action"  data-mode="DIRECT"></button>
                </div>

                <div id="bottomBar" style="display: flex;" class="selected_products">
                    <div th:text="*{name}"></div>
                    <dl>
                        <dt th:text="#{판매가}"></dt>
                        <dd>
                            <th:block th:text="*{salePrice >= 1000 ? #numbers.formatInteger(salePrice, 3, 'COMMA') : salePrice}"></th:block>
                            <th:block th:text="#{원}"></th:block>
                        </dd>
                    </dl>
                    <dl>
                        <dt th:text="#{할인가}"></dt>
                        <dd></dd>
                    </dl>
                    <div class="option_ea">
                        <div class="ea_box">
                            <input type="number" name="ea_0" value="1" min="1">
                            <button type="button" class="change_ea down">
                                <i class="xi-minus"></i>
                            </button>
                            <button type="button" class="change_ea up">
                                <i class="xi-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="summary">
                        <div class="tit" th:text="#{총_상품금액}"></div>
                        <div class="info">
                            <span name="showTotalPrice" class="totalPrice" th:text="*{salePrice >= 1000 ? #numbers.formatInteger(salePrice, 3, 'COMMA') : salePrice}">
                            </span>
                            <th:block th:text="#{원}"></th:block>
                        </div>
                    </div>
                    <div class="btns">
                        <button type="button" th:text="#{장바구니}" class="product_action" data-mode="CART"></button>
                        <button type="button" th:text="#{구매하기}" class="product_action" data-mode="DIRECT"></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="product_desc">
        <!-- 상세 설명 S -->
        <ul class="tabs">
            <li class="tab on">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="description" class='desc_content' th:utext="*{description}"></div>
        <!-- 상세 설명 E -->
        <!-- 후기 영역 S -->
        <ul class="tabs">
            <li class="tab">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab on">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="review" class='desc_content'>
            <button onclick="openReviewPopup()">리뷰 작성</button>
            <ul>
                <li th:each="review : ${reviewList}">
                    <div>
                        <span th:text="${review.score} + '점'"></span>
                        <div>
                            <span th:if="${review.member != null}" th:text="${review.member.userName}"></span>
                            <span th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd')}"></span>
                        </div>
                    </div>
                    <p th:text="${review.content}"></p>
                </li>
            </ul>
        </div>
        <!-- 후기 영역 E -->
        <!-- 문의 영역 S -->
        <ul class="tabs">
            <li class="tab">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab on">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="qna" class='desc_content'>
            문의 영역...
        </div>
        <!-- 문의 영역 E -->
        <!-- 배송/교환반품 영역 S -->
        <ul class="tabs">
            <li class="tab">
                <a href="#description"th:text="#{상세}"></a>
            </li>
            <li class="tab">
                <a href="#review"th:text="#{후기}"></a>
            </li>
            <li class="tab">
                <a href="#qna"th:text="#{문의}"></a>
            </li>
            <li class="tab on">
                <a href="#"th:text="#{배송_교환반품}"></a>
            </li>
        </ul>
        <div id="guide" class='desc_content'>
            배송/교환반품 영역...
        </div>
        <!-- 배송/교환반품 영역 E -->
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {

        });

        function openReviewPopup() {
            var reviewPopup = window.open("/orderDetail/reviewDetail?seq=[[*{seq}]]", "_blank", "width=600,height=400");
        }

        /* 대여 기간(달력 둘 다 선택) 확정시 기간 계산하여 출력
        // 데이터에 저장 필요
        */

        function calculateDate() {
            // 시작일 제한
            if (new Date(document.getElementsByName('sdate')[0].value) < new Date()) {
                alert('대여 시작일을 확인해주세요.');
                document.getElementsByName('sdate')[0].value='';
            }
            // 종료일 - 시작일 < 0이라면 알림
            if ( (new Date(document.getElementsByName('sdate')[0].value) >= new Date(document.getElementsByName('edate')[0].value))
                || (new Date(document.getElementsByName('edate')[0].value) < new Date()) ) {
                alert('대여 종료일을 확인해주세요.');
                document.getElementsByName('edate')[0].value='';
            }

            var sdateString = document.getElementsByName('sdate')[0].value;
            var edateString = document.getElementsByName('edate')[0].value;

            if (sdateString && edateString) {
                var sdate = new Date(sdateString);
                var edate = new Date(edateString);

                var betweenDate = edate - sdate;
                var betweenDays = betweenDate / (1000 * 60 * 60 * 24);
                var betweenMonth = Math.ceil(betweenDays / 30);

                document.getElementById('period').value = betweenMonth;
                document.getElementById('showPeriod').innerText = '대여기간: ' + betweenMonth + '개월(' + betweenDays + '일)';

                calculateTotal();
            }
        }

        /* 대여기간, 상품 갯수, 상품 가격을 종합 계산 */
        function calculateTotal() {
            const salePrice = frmSave.salePrice.value;

            const ea = document.getElementsByName('ea_0')[0].value;

            let totalPrice0 = document.getElementsByName('showTotalPrice')[0].value;
<!--            let totalPrice1 = document.getElementsByName('showTotalPrice')[1].value;-->

            const period = document.getElementById('period').value;

            totalPrice0 = salePrice * period * ea;

            document.getElementsByName('showTotalPrice')[0].innerText = totalPrice0;
            document.getElementsByName('showTotalPrice')[1].innerText = totalPrice0;
        }
    </script>
</main>
</html>