<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
   <div class="feedbackPostAdd">
      <h2>칭찬/개선</h2>
      <br>
      <h3>여러분의 목소리를 들려주세요.</h3>
      <p>우리의 제품과 서비스에 대해 좋았던 점이나 개선사항을 알려주세요.</p>
      <p>소중한 의견을 받아들여 더 나은 서비스를 제공하겠습니다.</p>
   </div>
   <a class="feedbackPost_btn" th:href="@{/cs/feedbackPostAdd}" th:text="#{의견_보내기}"></a>
</main>
</html>