<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content" class="inquiry_detail">
        <div>
            <h3 th:text="${recordInquiry.title}"></h3>
            <p th:text="${recordInquiry.createdAt}"></p>
        </div>
        <p th:text="${recordInquiry.content}"></p>

        <th:block th:if="${inquiryAnswer.getAnswerSeq() != null}">
            <div class="inquiry_answer" >
                <p th:text="${inquiryAnswer.answerContent}"></p>
                <p th:text="${#temporals.format(inquiryAnswer.createdAt, 'yyyy-MM-dd')}"></p>
            </div>
        </th:block>

    </main>
</html>