<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
    <main layout:fragment="content" th:object="${listRecordInquiry}">
            <table class="inquiry_table table table-hover">
                <tr class="table-secondary">
                    <th>문의유형</th>
                    <th>제목</th>
                    <th>작성일</th>
                </tr>
                <th:block th:each="recordInquiry : ${listRecordInquiry}">
                <tr>
                    <td th:text="${recordInquiry.inquiryType}"></td>
                    <td>
                        <a th:text="${recordInquiry.title}" th:href="@{inquiryDetail/{seq}(seq = ${recordInquiry.seq})}"></a>
                    </td>
                    <td th:text="${recordInquiry.createdAt}"></td>
                </tr>
                </th:block>
            </table>
    </main>
</html>