<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="inquiry_main">
    <div>
        <h3>1:1 문의</h3>
        <p>궁금하신 점이 있다면 무엇이든 물어보세요.</p>
        <p>문의 주신 내용에 신속하고 친철하게 답변 드리겠습니다.</p>
        <th:block th:if="${items != null && !items.isEmpty()}">
            <div class="often_question">
                <p>문의 하시기 전에 자주 찾는 질문을 준비했어요 ~ !</p>
                <div class="accordion accordion-flush often_question_inner" id="accordionFlushExample"
                     th:object="${@boardInfoService.getLatest('qna')}">
                    <div class="accordion-item" th:each="item, status : ${items}" th:object="${item}">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    th:data-bs-target="${'#flush-collapse_' + status.index}" aria-expanded="false"
                                    th:aria-controls="${'flush-collapse_' + status.index}"
                                    th:text="*{subject}">
                            </button>
                        </h2>
                        <div th:id="${'flush-collapse_' + status.index}" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"
                                 th:text="*{content}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <a class="inquiry_btn" th:href="@{/cs/inquiryAdd}">1:1 문의하기</a>
    </div>
</main>
</html>