<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
  <div>
    <h3>1:1 문의</h3>
    <p>궁금하신 점이 있다면 무엇이든 물어보세요.</p>
    <p>문의 주신 내용에 신속하고 친철하게 답변 드리겠습니다.</p>
    <div class="often_question">
      <h4>문의 하시기 전에</h4>
      <p>자주 찾는 질문을 준비했어요 ~ !</p>
      <ul>
        <li>자주하는 질문1</li>
        <li>자주하는 질문2</li>
        <li>자주하는 질문3</li>
      </ul>
    </div>
    <a class="btn btn-danger" th:href="@{/cs/inquiryAdd}" th:text="#{1:1 문의하기}"></a>
  </div>
</main>
</html>