<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>

    <title>검색 결과</title>

    <h2>검색 결과</h2>
    <p th:text="'검색어: ' + ${keyword}"></p>

    <table>
        <thead>
        <tr>
            <th>게시판</th>
            <th>제목</th>
            <th>내용</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${items != null && !items.isEmpty()}" th:each="item : ${items}" th:object="${item}">
                <td></td>
                <td th:text="*{subject}"></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:unless="${items != null && !items.isEmpty()}">
                <td colspan="4" th:text="#{조회된_게시글이_없습니다.}"></td>
            </tr>
        </tbody>
    </table>
    <th:block th:replace="~{common/_pagination::pagination}"></th:block>
</main>
</html>